<!-- <ion-header>
  <ion-toolbar>
    <ion-title>App</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content class="ion-padding">
  <ion-button id="open-modal" expand="block">Open Modal</ion-button> 

  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-content>
         <div class="fond" style="display: flex;justify-content: center;">
          <div style="background-color: rgba(0, 255, 255, 0.007);height: 90px;position: relative;top: 80px;">
            <div style="display: flex
            ; justify-content: center; position: relative;top: -100px;width: 100%;">
            <div style="background-color: rgba(232, 233, 233, 0.027);width: 235px;height: 330px;position: relative;border-radius: 10px;top: 95px;left: 15px;">
              <div style="position: relative;top: 20px;">
              <div style="display: flex;justify-content: center;">
                <div class="border-blue">
                  <div class="border-white">
                    <div class="img-box">
                      <img src="/assets/sout1.png">
                    </div>
                  </div>
                </div>
              </div>
              <div style="text-align: center; color: black;">
                <h5 style="position: relative;top: 5px;"style="line-height: 20px;font-family: 'Inika';font-weight: 200;font-size: 22px;">Fatoumata Dembele</h5>
                <div style="display: flex;justify-content: center;">
                <h6 style="line-height: 20px;font-family: 'Inika';font-weight: 200;font-size: 10px;color: rgb(170, 163, 163); position: relative;top: -4px;">Apprenant a la promotion 2 d'ODk </h6>
               <div style="position: relative;top: -2px; color: rgb(255, 0, 0);">
                <ion-icon name="chevron-down-circle-outline" style="position: relative;left: 10px;"color="black"></ion-icon> </div>
              </div>
                <h6 style="line-height: 20px;font-family: 'Inika';font-weight: 600;font-size: 17px;">La Soutenance</h6>
                <div style="text-align: center;">
                  <div style="display: flex;justify-content: center;position: relative;top: -16px;">
                <hr style="width: 50px;color: #f80404;"></div> </div>
                <p style="line-height: 20px;font-family: 'Inika';font-weight: 200;position: relative;top: -20px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam delectus incidunt, at est quis voluptatum nostrum neque ipsam repudiandae! Nesciunt nihil dicta perferendis, sunt quo obcaecati
                 </p>
                
              </div> 
              
            </div>
            </div>
           
        
            </div>
         </div>
         
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

   



</ion-content>
