<!-- <ion-header>
  <ion-toolbar>
    <div style="display: flex;justify-content: space-between;padding-left: 10px;padding-right: 10px;">
      <h4 style="position: relative;top:10px;color: white;">Profil</h4>
      <img src="/assets/sout1.png" style="height: 35px;width: 40px;border-radius: 50%;">
    </div>
  </ion-toolbar>
</ion-header> -->
<ion-content>
 <!-- <div class="aller" style="position: relative;top: -20px;">
  <h4 style="color: white;position: relative;top: 40px;left: 20px;">Profil</h4>
 </div>
 <div class="pp" >
  <div style="display: flex;justify-content: center;position: relative;top: -60px;">
    <div class="border-blue">
      <div class="border-white">
   <img style="height: 90px;border-radius: 30px; width: 60px;" src="assets\soutenance7-removebg-preview.png" alt="">
  </div>
</div>
   </div>
   <div style="display: flex;justify-content: center;position: relative;top: -65px;">
   <h6 style="font-family: 'Inika';font-weight: 700;">Fatoumata Dembele</h6>
    <br>
  </div>
  <h6 style="text-align: center;position: relative;top: -90px;font-family: 'Inika';font-weight: 400;color: brown;">Soutenance</h6>
   <div style="position: relative;top: -90px;">
     <p style="font-family: 'Inika';font-weight: 500;">Apprenant a <span style="font-family: 'Inika';font-weight: 700;">ODK2</span>
     </p>  -->
    <!-- <ion-card class="cds">
      <ion-grid>
        <ion-row >
            <img src="assets\soutenance2.jpg" style="border-radius: 10px; " alt="">
          </ion-row>
          <ion-row>
            <p style="padding: 10px; font-family: 'Inika'; font-size: 13px; color: rgba(19, 18, 18, 0.842);line-height: 15px;">corporis nesciunt ipsam soluta recusandae voluptate inventore voluptates provident?
            agnam temporibus atque quae quaerat 
            </p>
          </ion-row>
        <ion-row>
          <ion-col size-xs="6">
            <ion-button style="border-radius: 30px;">
             voir vote
            </ion-button>
          </ion-col>
          <ion-col size-xs="6">
            <ion-button style="border-radius: 30px!important;">
              resultat
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid> 
      <ion-item class="cds">
        <img src="assets\soutenance2.jpg" alt="" style="height: 100px;width: 130px!important;">
        <p style="padding: 10px; font-family: 'Inika'; font-size: 13px; color: rgba(19, 18, 18, 0.842);line-height: 15px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti quam, mollitia impedit tempore quas .</p>
      </ion-item> -->
      <!-- <div style="display: flex!important;justify-content: space-around!important;width: 100%;">
        <ion-button shape="round" > votez</ion-button>
        <ion-button shape="round">resultat</ion-button>
      </div>
    </ion-card> --> 
    <!-- </div>
    <ion-card style="position: relative;top: -95px;">
      <ion-grid>
        <ion-row>
          <div class="cool" style="border-top-left-radius: 20px!important;"  >
            <img src="assets\soutenance2.jpg" alt="" style="height: 200px; width: 100%!important; border-bottom-right-radius: 40px;">
          </div>
        </ion-row>
        <ion-row style="position: relative;top: -30px;color: black;">
          <p style="font-family: 'Inika';font-weight: 500;line-height: 20px;padding: 10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus eveniet ex nulla maxime ratione ut in aliquid magnam consequuntur voluptate, ad qui aut tenetur delectus.
             Voluptas, in! Nulla, facere enim!</p>
             <div style="display: flex!important;justify-content: space-around!important;width: 100%;">
              <ion-button shape="round" > votez</ion-button>
              <ion-button shape="round">resultat</ion-button>
            </div>
        </ion-row>
      </ion-grid>
    </ion-card>
 </div> -->
    <div style="background-color: #151921; width: 100%;height: 340px;border-bottom-right-radius: 50px!important; border-bottom-left-radius: 50px;   color: white;" class="l">
      <ion-button color="dark" [routerLink]="['/tabs/accueilpouretudiant']"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </div>
    <div style="display: flex
    ; justify-content: center; position: relative;top: -100px;width: 100%;">
    <div style="background-color: rgb(232, 233, 233);width: 254px;height: 360px;position: relative;border-radius: 10px;">
      <div style="position: relative;top: 20px;">
      <div style="display: flex;justify-content: center;">
        <div class="border-blue">
          <div class="border-white">
            <div class="img-box">
              <img src="/assets/soutetud.jpg" style="width: 100%;">
            </div>
          </div>
        </div>
      <!-- <img src="/assets/sout1.png" alt="" style="height: 90px;width: 80px;padding-top: 10px;"> -->
      </div>
      <div style="text-align: center; color: black;">
        <h5 style="position: relative;top: 5px;"style="line-height: 20px;font-family: 'Inika';font-weight: 200;font-size: 22px;">{{nom}} {{prenom}}</h5>
        <div style="display: flex;justify-content: center;">
       <div style="position: relative;top: -2px; color: rgb(255, 0, 0);">
       </div>
      </div>
        <h6 style="line-height: 20px;font-family: 'Inika';font-weight: 600;font-size: 17px;">{{projet}}</h6>
        <div style="text-align: center;">
          <div style="display: flex;justify-content: center;position: relative;top: -16px;">
        <hr style="width: 50px;color: #f80404;"></div> </div>
        <p style="line-height: 20px;font-family: 'Inika';font-weight: 200;position: relative;top: -20px;">{{projetdesc}}
         </p>
         <!-- <ion-button  class="ms" style="height: 30px;border-radius: 60px;position: relative;top: -20px;" shape="round" fill="outline" button (click)="val()" >
          votez ici 
        </ion-button> -->
      </div> 
    </div>
    </div>
    </div>
  
</ion-content>