<ion-header>
  <ion-toolbar>
    <ion-title>resultatetudiant</ion-title>
  </ion-toolbar>
</ion-header>


<div class="imgpart">
  <div class="btn">
    ghjkjs
  </div>
</div>

<div class="text">
  <h3>ETAPES</h3>
</div>

<div class="mycard">
  <div class="niveau">
    <div class="niv">
      Niveau
    </div>
    <div class="nbre">
      3/8
    </div>
  </div>

  <div class="paragraph">
    <p>
      ton text bla bla bla fghjkjhghjkjhvnmnbv
    </p>
    <p>
      ton text bla bla bla fghjkjhghjkjhvnmnbv
    </p>
  </div>
</div>

<div class="bande">
  <div class="btn1">
<button style="background-color: rgba(240, 248, 255, 0);">    Non valider</button>
  </div>
  <div class="btn2">
    <button style="background-color: rgba(240, 248, 255, 0);">    Non valider</button>
  </div>
</div>

<div class="btnetape">
  <div class="btnE">
    Precedent
  </div>
  <div class="btnE">
    Suivant
  </div>
</div>


<ion-content>

</ion-content>
