<!-- <ion-header>
  <ion-toolbar>
    <ion-title>previous</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
<div style="background-color: #f1eef3;width: 100%;height: 480px;" class="p">

</div>
<div style="background-color: #ffffff;position: relative;  width: 100%;height: 100%;border-radius:48px !important;top: -68px;">
  <h3 style="text-align: center;position: relative;top: 20px;">Dashboard</h3>    
  <div style="display: flex; justify-content: space-between;">
        <ion-card style="border-radius: 15px; background-color: #420fcf;width: 210px;">
          <ion-card-header style="display: flex;justify-content: space-between;">   
    <ion-label><ion-icon size="large" name="ribbon" color="light"  ></ion-icon></ion-label>
    
  </ion-card-header>
          <ion-card-content> <h5>la soutenance</h5>
            <ion-icon name="bookmark-outline" style="margin-top: 20px;" color="light"></ion-icon>

          </ion-card-content>
        </ion-card>

      
        <ion-card style="border-radius: 15px; width: 210px;background-color: #8731e23b;">
          <ion-card-header>
    <ion-label><ion-icon size="large" name="book-sharp" color="tertiary"></ion-icon></ion-label>
  </ion-card-header>
          <ion-card-content> <h5>la soutenance</h5>
            <ion-icon name="bookmark-outline" style="margin-top: 20px;"></ion-icon>          </ion-card-content>
        </ion-card>
      </div>

      <div style="display: flex; justify-content: space-between;">
        <ion-card style="border-radius: 15px; width: 210px; background-color: #8731e23b;">
          <ion-card-header>
    <ion-label><ion-icon size="large" name="book-sharp" color="tertiary"></ion-icon></ion-label>
  </ion-card-header>
          <ion-card-content> <h5>la soutenance</h5>
            <ion-icon name="bookmark-outline" style="margin-top: 20px;"></ion-icon>          </ion-card-content>
        </ion-card>

      
        <ion-card style="border-radius: 15px; background-color: #8731E2;width: 210px;">
          <ion-card-header style="display: flex;justify-content: space-between;">   
    <ion-label><ion-icon size="large" name="ribbon" color="light"  ></ion-icon></ion-label>
    
  </ion-card-header>
          <ion-card-content> <h5>la soutenance</h5>
            <ion-icon name="bookmark-outline" style="margin-top: 10px;" color="light"></ion-icon>

          </ion-card-content>
        </ion-card>

      </div>
    
</div>
</ion-content>
