.ob{
    background:linear-gradient(0deg,rgba(120, 100, 128, 0),rgba(121, 14, 14, 0)),
    url("/assets/sou-removebg-preview.png") no-repeat center center  /  cover;
}
.al{
    background:linear-gradient(0deg,rgba(120, 100, 128, 0),rgba(121, 14, 14, 0)),
    url("/assets/vasy-removebg-preview.png") no-repeat center center  /  cover;
  
}
.ol{
    background:linear-gradient(0deg,rgba(120, 100, 128, 0),rgba(121, 14, 14, 0)),
    url("/assets/sou4-removebg-preview.png") no-repeat center center  /  cover;
  
}