

<ion-content color="white">
  <!-- <ion-grid>
    <ion-row>
      <div class="k">
  <img src="assets\soutenance7-removebg-preview.png"alt="" style="height: 90%!important;"  ></div></ion-row>
  <ion-row>
  <div style="width: 100%!important;">
     <img src="assets\derniere-removebg-preview.png" alt="" class="g"style="width: 100%!important;" >
     <div class="all">
    <h1 class="a"> Search Your 
      Favorite <span style="color: brown;">Food</span> </h1> 
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, officia accusantium? Labore, deleniti ab ad qui omnis animi assumenda dignissimos, ratione porro aperiam consectetur
       maiores quia, rerum tempora dolores? Distinctio.</p>
       <ion-button color="danger" shape="round" class="co">Round</ion-button>
    </div> -->
    <!-- <h1>bbbbb</h1> -->
    <!-- <img src="assets/vrai-removebg-preview.png" alt="" style="width: 100%!important;position: relative;top: -68px;"> -->
   
    <!-- <div class="p">
      <h1>kkkkkkkk</h1>
      <h2>fatoumata dembbele</h2>
      <p>Lorem ipsum dolor, sit ametr quis quia esse mollitia, 
       </p>
    </div> -->

  <!-- </div>
</ion-row>
</ion-grid> -->
<div style="width: 100%!important;">
  <img src="assets\soum.jpg" alt="" style="width: 100%!important;height: 490px;" >
  <!-- <div class="all"> -->
 <!-- <h1 class="a"> Search Your 
   Favorite <span style="color: brown;">Food</span> </h1>  -->
 <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, officia accusantium? Labore, deleniti ab ad qui omnis animi assumenda dignissimos, ratione porro aperiam consectetur
    maiores quia, rerum tempora dolores? Distinctio.</p>
    <ion-button color="danger" shape="round" class="co">Round</ion-button>
 </div>
  </div>  --></div>
  <div style="text-align: center; background-color: white;border-radius: 50px;position: relative;top: -50px;">
         <div style="color: black;">
          <h3 style="position: relative;top: 19px;font-size: 42px;font-weight: 600;font-family: 'inika';">Bienvenue a </h3>
          <img src="/assets/memories2.png" alt="" style="width: 260px;position: relative;top: 14px;">
         </div>
         <div style="position: relative;top: 40px;">
       <ion-button color="danger" shape="round" class="co"  [routerLink]="['/login']"  >cliquez-ici</ion-button> </div>

  </div>

</ion-content>
