<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content >
  <div class="okay">
    
    
  </div>
     <div style="position: relative;top: -55px; text-align: center;">
   <h2 style="font-size: 28px;font-family: 'Inika';font-weight: 700;">Bienvenue a Memories</h2> </div>
   <div style="display: flex;justify-content: center;">
   <hr style="border: 1px solid #f12606; width: 60px;position: relative;top: -65px;"></div>
   <div class="padding"  >
    <ion-input placeholder="username" class="custom" [(ngModel)]="username"></ion-input>
    <ion-input type="password" placeholder="mot de passe" class="custom" [(ngModel)]="password"></ion-input>
   <div style="display: flex!important;justify-content: center !important;">  <ion-button  id="open-modal" style="width: 200px!important;" (click)="onSubmit()" >connexion</ion-button>

  </div>
  </div>
   
</ion-content>
