.alm{
    width: 100%!important;
    height: 40%!important; 
    // border-bottom-left-radius: 40px;
    // border-bottom-right-radius: 40px;
    // position: relative;
    // top: -25px;
    background:linear-gradient(0deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)),
    url("/assets/essayv.jpg")  center center  /  cover;
    position: relative;
    // position: fixed;
}
.oo{
  
  // border-bottom-left-radius: 40px;
  // border-bottom-right-radius: 40px;
  // position: relative;
  // top: -25px;
  background:linear-gradient(0deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)),
  url("/assets/soutetud.jpg")  center center  /  cover;
  position: relative;
  // position: fixed;
}

  .border-white {
    border: 6px solid #151921;
    border-radius: 50%;
    width: fit-content;
}
.border-blue {
    border: 3px solid #bf2d0000;
    border-radius: 50%;
    width: fit-content;
}
.img-box {
    height: 95px;
    width: 95px;
    border-radius: 50%;
    overflow: hidden;
}
ion-content {
    width: calc(100% + 20px);
    --padding-end: 20px !important;
  }
  
  ion-content::part(scroll) {
    margin-right: -20px;
  }