<!-- <ion-header>
  <ion-toolbar>
    <ion-title>accueilv</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
<!-- <div style="width: 100%!important;">
<img src="assets/jere-removebg-preview.png" alt="" style="width: 100%;height: 250px;">
<div style="position: relative;top: -250px;">
  <div style="display: flex;justify-content: center;">
  <div style="background-color: rgba(127, 255, 212, 0.096);width: 260px;border-radius: 30px;height: 40px;">
    <ion-segment  mode="md">
      <ion-segment-button value="friends">
        <ion-label>Friends</ion-label>
      </ion-segment-button>
      <ion-segment-button value="enemies">
        <ion-label>Enemies</ion-label>
      </ion-segment-button>
    </ion-segment> </div> 
 
  </div>
  <div> 
   <div style="position: relative;padding: 20px;display: flex;justify-content: space-between;">
    <div >
    <div class="border-blue">
      <div class="border-white">
        <div class="img-box">
          <img src="/assets/sout1.png">
        </div>
      </div>
    </div>
   
    <h4 style="position: relative;top: 5px;font-family: 'inika';font-weight: 400;line-height: 26px;font-size: 10px;left: -10px;">Fatoumata Dembele</h4>
    <h4 style="position: relative;top: -15px;font-family: 'inika';font-weight: 400;line-height: 26px;font-size: 10px;">Fatoumata</h4>
  </div>
  <div style="margin-left: auto;margin-right: auto;">
    <div class="border-blue">
      <div class="border-white">
        <div class="img-box">
          <img src="/assets/sout1.png">
        </div>
      </div>
    </div>
    <h4 style="position: relative;top: 5px;font-family: 'inika';font-weight: 400;line-height: 26px;font-size: 10px;left: -10px;">Fatoumata Dembele</h4>
    <h4 style="position: relative;top: -15px;font-family: 'inika';font-weight: 400;line-height: 26px;font-size: 10px;">Fatoumata</h4>
  </div>
  <div style="margin-left: auto;margin-right: auto;">
    <div class="border-blue">
      <div class="border-white">
        <div class="img-box">
          <img src="/assets/sout1.png">
        </div>
      </div>
    </div>
    <h4 style="position: relative;top: 5px;font-family: 'inika';font-weight: 400;line-height: 26px;font-size: 10px;left: -10px;">Fatoumata Dembele</h4>
    <h4 style="position: relative;top: -15px;font-family: 'inika';font-weight: 400;line-height: 26px;font-size: 10px;">Fatoumata</h4>
  </div>
   </div>
  </div>
</div>
</div> -->


<div class="fond">
  <div style="width: 100%;height: 100%; overflow: hidden; z-index: 2;">
  <ion-slides [options]="slideOpt " style="  width: 100%!important; ">
   
    
    <ion-slide>
      <img src="assets/soum1.jpg" alt="">

    </ion-slide>
    <ion-slide>
      <img src="assets/soum7.jpg" alt="">

    </ion-slide>
    <ion-slide>
      <img src="assets/soum8.jpg" alt="" >

    </ion-slide>
    <ion-slide>
      <img src="assets/soum3.jpg" alt="">

    </ion-slide>
    <ion-slide>
      <img src="assets/soum4.jpg" alt="">

    </ion-slide>
    <ion-slide>
      <img src="assets/soum5.jpg" alt="">

    </ion-slide>
  
  
  </ion-slides> </div>

</div>
<div class="f">
  <div >
    <div style="margin-left: -10px;margin-top: -33px;">
    <h4 style="font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 42px;
color: #000000;">General</h4> </div>
    <div style="display: flex;justify-content: space-evenly; margin-left: -60px;margin-top: -15px;">
      <h3 style="font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 34px;

color: #000000;">le podiome</h3>
      <h3 style="font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 34px;

color: #000000;">le podiome</h3>

    </div>
    <hr style="color: #FB5841;width: 70px; margin-top: -7px;">
    <div>
      <ion-slides  [options]="slideOpt " style="  width: 100%!important; ">
      <ion-slide>
        <div style="display: flex;justify-content: center;position: relative;">
          <ion-col    >
            <ion-card style="width: 120px;height: 140px!important;"  >
             <div style="background-color: #FB5841;">
               <img src="/assets/soutenance7-removebg-preview.png" alt="" class="img" style="height: 120px!important;width: 100%!important;position: relative;top: -10px;">
             </div>        
              <!-- <ion-card-content> -->
                <!-- <div class="details"> 
                  <div class="content">
                  <h2>que ce que lorem ipsum</h2>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus et aliquid quidem voluptas recusandae
                     ab explicabo asperiores provident perferendis ad numquam odit, fuga neque sunt atque in eos eveniet? Nisi.</p> </div>
                </div> -->
                <div style="background-color: rgb(255, 254, 254); position: relative;top: -40px;border-radius: 20px;height: 65px;width: 140px;">
                <h1 style="text-align: center; padding-top: 30px;font-size: 9px; font-family: 'Inika';font-weight: 600;color: black;position: relative;top: -20px;">Fatoumata demmm</h1> <br>
                <p style="text-align: center;font-size: 9px; font-family: 'Inika';font-weight: 600;color: black;position: relative;top: -35px;">asdfghjkl;tyuiop</p>
   
                </div>
                <!-- <ion-button fill="outline"  [routerLink]="['/region', g.codeRegion]">Details region</ion-button> -->
              <!-- </ion-card-content> -->
            </ion-card>
            
          </ion-col>
           <ion-col    >
             <ion-card style="width: 120px;height: 140px!important;"  >
              <div style="background-color: #FB5841;">
                <img src="/assets/soutenance7-removebg-preview.png" alt="" class="img" style="height: 120px!important;width: 100%!important;position: relative;top: -10px;">
              </div>        
               <!-- <ion-card-content> -->
                 <!-- <div class="details"> 
                   <div class="content">
                   <h2>que ce que lorem ipsum</h2>
                   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus et aliquid quidem voluptas recusandae
                      ab explicabo asperiores provident perferendis ad numquam odit, fuga neque sunt atque in eos eveniet? Nisi.</p> </div>
                 </div> -->
                 <div style="background-color: rgb(255, 254, 254); position: relative;top: -40px;border-radius: 20px;height: 65px;width: 140px;">
                 <h1 style="text-align: center; padding-top: 30px;font-size: 9px; font-family: 'Inika';font-weight: 600;color: black;position: relative;top: -20px;">Fatoumata demmm</h1> <br>
                 <p style="text-align: center;font-size: 9px; font-family: 'Inika';font-weight: 600;color: black;position: relative;top: -35px;">asdfghjkl;tyuiop</p>
    
                 </div>
                 <!-- <ion-button fill="outline"  [routerLink]="['/region', g.codeRegion]">Details region</ion-button> -->
               <!-- </ion-card-content> -->
             </ion-card>
             
           </ion-col>
           <ion-col    >
            <ion-card style="width: 120px;height: 140px!important;"  >
              <div style="background-color: #151921;">
                <img src="/assets/soutenance7-removebg-preview.png" alt="" class="img" style="height: 120px!important;width: 100%!important;">
              </div>        
              <!-- <ion-card-content> -->
                <!-- <div class="details"> 
                  <div class="content">
                  <h2>que ce que lorem ipsum</h2>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus et aliquid quidem voluptas recusandae
                     ab explicabo asperiores provident perferendis ad numquam odit, fuga neque sunt atque in eos eveniet? Nisi.</p> </div>
                </div> -->
                <div style="background-color: rgb(255, 254, 254); position: relative;top: -50px;border-radius: 20px;height: 65px;">
                <h1 style="text-align: center; padding-top: 30px;font-size: 9px; font-family: 'Inika';font-weight: 600;color: black;position: relative;top: -20px;">Fatoumata demmm</h1> <br>
                <p style="text-align: center;font-size: 9px; font-family: 'Inika';font-weight: 600;color: black;position: relative;top: -35px;">asdfghjkl;tyuiop</p>
    
                </div>
                <!-- <ion-button fill="outline"  [routerLink]="['/region', g.codeRegion]">Details region</ion-button> -->
              <!-- </ion-card-content> -->
            </ion-card>
            
          </ion-col> </div>
          </ion-slide>
           <ion-slide>
        <div style="display: flex;justify-content: center;position: relative;left: 80px;">
           <ion-col    >
             <ion-card style="width: 120px;height: 140px!important;"  >
              <div style="background-color: #FB5841;">
                <img src="/assets/soutenance7-removebg-preview.png" alt="" class="img" style="height: 120px!important;width: 100%!important;position: relative;top: -10px;">
              </div>        
               <!-- <ion-card-content> -->
                 <!-- <div class="details"> 
                   <div class="content">
                   <h2>que ce que lorem ipsum</h2>
                   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus et aliquid quidem voluptas recusandae
                      ab explicabo asperiores provident perferendis ad numquam odit, fuga neque sunt atque in eos eveniet? Nisi.</p> </div>
                 </div> -->
                 <div style="background-color: rgb(255, 254, 254); position: relative;top: -40px;border-radius: 20px;height: 65px;width: 140px;">
                 <h1 style="text-align: center; padding-top: 30px;font-size: 9px; font-family: 'Inika';font-weight: 600;color: black;position: relative;top: -20px;">Fatoumata demmm</h1> <br>
                 <p style="text-align: center;font-size: 9px; font-family: 'Inika';font-weight: 600;color: black;position: relative;top: -35px;">asdfghjkl;tyuiop</p>
    
                 </div>
                 <!-- <ion-button fill="outline"  [routerLink]="['/region', g.codeRegion]">Details region</ion-button> -->
               <!-- </ion-card-content> -->
             </ion-card>
             
           </ion-col>
           <ion-col    >
            <ion-card style="width: 120px;height: 140px!important;"  >
              <div style="background-color: #151921;">
                <img src="/assets/soutenance7-removebg-preview.png" alt="" class="img" style="height: 120px!important;width: 100%!important;">
              </div>        
              <!-- <ion-card-content> -->
                <!-- <div class="details"> 
                  <div class="content">
                  <h2>que ce que lorem ipsum</h2>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus et aliquid quidem voluptas recusandae
                     ab explicabo asperiores provident perferendis ad numquam odit, fuga neque sunt atque in eos eveniet? Nisi.</p> </div>
                </div> -->
                <div style="background-color: rgb(255, 254, 254); position: relative;top: -50px;border-radius: 20px;height: 65px;">
                <h1 style="text-align: center; padding-top: 30px;font-size: 9px; font-family: 'Inika';font-weight: 600;color: black;position: relative;top: -20px;">Fatoumata demmm</h1> <br>
                <p style="text-align: center;font-size: 9px; font-family: 'Inika';font-weight: 600;color: black;position: relative;top: -35px;">asdfghjkl;tyuiop</p>
    
                </div>
                <!-- <ion-button fill="outline"  [routerLink]="['/region', g.codeRegion]">Details region</ion-button> -->
              <!-- </ion-card-content> -->
            </ion-card>
            
          </ion-col> </div>
          </ion-slide>
           <ion-slide>
        <div style="display: flex;justify-content: center;position: relative;left: 80px;">
           <ion-col    >
             <ion-card style="width: 120px;height: 140px!important;"  >
              <div style="background-color: #FB5841;">
                <img src="/assets/soutenance7-removebg-preview.png" alt="" class="img" style="height: 120px!important;width: 100%!important;position: relative;top: -10px;">
              </div>        
               <!-- <ion-card-content> -->
                 <!-- <div class="details"> 
                   <div class="content">
                   <h2>que ce que lorem ipsum</h2>
                   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus et aliquid quidem voluptas recusandae
                      ab explicabo asperiores provident perferendis ad numquam odit, fuga neque sunt atque in eos eveniet? Nisi.</p> </div>
                 </div> -->
                 <div style="background-color: rgb(255, 254, 254); position: relative;top: -40px;border-radius: 20px;height: 65px;width: 140px;">
                 <h1 style="text-align: center; padding-top: 30px;font-size: 9px; font-family: 'Inika';font-weight: 600;color: black;position: relative;top: -20px;">Fatoumata demmm</h1> <br>
                 <p style="text-align: center;font-size: 9px; font-family: 'Inika';font-weight: 600;color: black;position: relative;top: -35px;">asdfghjkl;tyuiop</p>
    
                 </div>
                 <!-- <ion-button fill="outline"  [routerLink]="['/region', g.codeRegion]">Details region</ion-button> -->
               <!-- </ion-card-content> -->
             </ion-card>
             
           </ion-col>
           <ion-col    >
            <ion-card style="width: 120px;height: 140px!important;"  >
              <div style="background-color: #151921;">
                <img src="/assets/soutenance7-removebg-preview.png" alt="" class="img" style="height: 120px!important;width: 100%!important;">
              </div>        
              <!-- <ion-card-content> -->
                <!-- <div class="details"> 
                  <div class="content">
                  <h2>que ce que lorem ipsum</h2>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus et aliquid quidem voluptas recusandae
                     ab explicabo asperiores provident perferendis ad numquam odit, fuga neque sunt atque in eos eveniet? Nisi.</p> </div>
                </div> -->
                <div style="background-color: rgb(255, 254, 254); position: relative;top: -50px;border-radius: 20px;height: 65px;">
                <h1 style="text-align: center; padding-top: 30px;font-size: 9px; font-family: 'Inika';font-weight: 600;color: black;position: relative;top: -20px;">Fatoumata demmm</h1> <br>
                <p style="text-align: center;font-size: 9px; font-family: 'Inika';font-weight: 600;color: black;position: relative;top: -35px;">asdfghjkl;tyuiop</p>
    
                </div>
                <!-- <ion-button fill="outline"  [routerLink]="['/region', g.codeRegion]">Details region</ion-button> -->
              <!-- </ion-card-content> -->
            </ion-card>
            
          </ion-col> </div>
          </ion-slide>
           <ion-slide>
        <div style="display: flex;justify-content: center;position: relative;left: 80px;">
           <ion-col    >
             <ion-card style="width: 120px;height: 140px!important;"  >
              <div style="background-color: #FB5841;">
                <img src="/assets/soutenance7-removebg-preview.png" alt="" class="img" style="height: 120px!important;width: 100%!important;position: relative;top: -10px;">
              </div>        
               <!-- <ion-card-content> -->
                 <!-- <div class="details"> 
                   <div class="content">
                   <h2>que ce que lorem ipsum</h2>
                   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus et aliquid quidem voluptas recusandae
                      ab explicabo asperiores provident perferendis ad numquam odit, fuga neque sunt atque in eos eveniet? Nisi.</p> </div>
                 </div> -->
                 <div style="background-color: rgb(255, 254, 254); position: relative;top: -40px;border-radius: 20px;height: 65px;width: 140px;">
                 <h1 style="text-align: center; padding-top: 30px;font-size: 9px; font-family: 'Inika';font-weight: 600;color: black;position: relative;top: -20px;">Fatoumata demmm</h1> <br>
                 <p style="text-align: center;font-size: 9px; font-family: 'Inika';font-weight: 600;color: black;position: relative;top: -35px;">asdfghjkl;tyuiop</p>
    
                 </div>
                 <!-- <ion-button fill="outline"  [routerLink]="['/region', g.codeRegion]">Details region</ion-button> -->
               <!-- </ion-card-content> -->
             </ion-card>
             
           </ion-col>
           <ion-col    >
            <ion-card style="width: 120px;height: 140px!important;"  >
              <div style="background-color: #151921;">
                <img src="/assets/soutenance7-removebg-preview.png" alt="" class="img" style="height: 120px!important;width: 100%!important;">
              </div>        
              <!-- <ion-card-content> -->
                <!-- <div class="details"> 
                  <div class="content">
                  <h2>que ce que lorem ipsum</h2>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus et aliquid quidem voluptas recusandae
                     ab explicabo asperiores provident perferendis ad numquam odit, fuga neque sunt atque in eos eveniet? Nisi.</p> </div>
                </div> -->
                <div style="background-color: rgb(255, 254, 254); position: relative;top: -50px;border-radius: 20px;height: 65px;">
                <h1 style="text-align: center; padding-top: 30px;font-size: 9px; font-family: 'Inika';font-weight: 600;color: black;position: relative;top: -20px;">Fatoumata demmm</h1> <br>
                <p style="text-align: center;font-size: 9px; font-family: 'Inika';font-weight: 600;color: black;position: relative;top: -35px;">asdfghjkl;tyuiop</p>
    
                </div>
                <!-- <ion-button fill="outline"  [routerLink]="['/region', g.codeRegion]">Details region</ion-button> -->
              <!-- </ion-card-content> -->
            </ion-card>
            
          </ion-col> </div>
          </ion-slide>
        </ion-slides>
    </div>
    <div style="margin-top: -15px;">
      <ion-card style="height: 120px;border-radius: 20px;">
        <ion-grid>
          <ion-row>
            <ion-col>
              <h3 style="font-family: 'Inika';
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              
              
              color: #000000;">Fatoumata dem</h3>
              <p style="font-family: 'Inika';
              font-style: normal;
              font-weight: 600;
              font-size: 10px;
             
              
              color: #000000;">Lorem odio corrupti nulla dolor blanditiis! Ut.</p>
              <ion-button style="margin-top: -5px;height: 30px;" shape="round">voir</ion-button>
            </ion-col>
            <ion-col>
              <img src="/assets/soutenance2.jpg" alt="" style="height: 90px; width: 80%;">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div> </div>



</div>
</ion-content>
