ion-segment-button{
    font-size: 10px;
    color: var(--ion-color-medium);
    border: 0px;
    border-radius: 0px;
}
ion-segment{
    height: 40px;
}
.segment-button-checked{
    // background: #FFF;
     color: var(--ion-color-primary);
     border-top: 3px solid var(--ion-color-primary);
     border-radius: 0px;
    height: 3px!important;
}
.selected {
    transform: scale(1.2);
  }
  a img{
    width: 80px;
    height: 80px;
}
 
a:hover img{
    width: 180px;
    height: 180px;
    position: absolute;
}
.img-box {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.border-white {
    border: 3px solid #8dc40e;
    border-radius: 50%;
    width: fit-content;
}
.border-blue {
    border: 3px solid #ece9e9;
    border-radius: 50%;
    width: fit-content;
}
.fond{
    background-color:#151921 ;
    width: 100% !important;
    height: 300px!important;
color: white;
//border-top-left-radius: 80px;
//border-bottom-left-radius: 45%;
// border-bottom-right-radius: 5%;
}
ion-button {
    // border-radius: 20px !important;
    --background: #f8fcfa;
    --background-hover: #e6490b;
    --background-activated: #f05112;
    --background-focused: #eb270d;
  
    --color: rgb(255, 17, 0);
  
    --border-radius: 0;
    --border-color: rgb(240, 14, 14);
    --border-style: solid;
    --border-width: 1px;
  
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  
    --ripple-color: rgb(245, 11, 11);
  
    --padding-top: 10px;
    --padding-bottom: 10px;
  }
  ion-card{
    --background: #f9fafc;
  }
.f{
    position: relative;
    top: -80px;
    background-color:#ffffff ;
    width: 100% !important;
    height: 300px!important;
color: white; 
//  border-top-right-radius: 30%;
//  border-top-left-radius: -10%;
 //z-index: 10;
border-radius: 15%;
z-index: 19;
}
ion-content {
    width: calc(100% + 20px);
    --padding-end: 20px !important;
  }
  
  ion-content::part(scroll) {
    margin-right: -20px;
  }
  /* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }
  .aj{
    --background: #700f63;
    border-radius: 30px;

  }