<ion-header>
  <ion-toolbar>
    <ion-title>bravo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin: 20px;display: flex;justify-content: center;">
    <ion-progress-bar  [value]="1"  style="width: 90%;height: 10px;background-color: rgb(245, 239, 239);border-radius: 10px;"></ion-progress-bar>

  </div>

<div>
  <img src="assets/86996-done.gif" alt="">
</div>
<div style="display: flex;justify-content: space-around;">
  <h4>bravo </h4>
  <ion-button  (click)="valide()">retour a la page accueil</ion-button>
</div>
</ion-content>
