.ao{
    background:linear-gradient(0deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)),
    url("/assets/profil.png")  center center  /  cover;
}
.o{
    --background: #0ae0f0;

}
.ab{
    --background: #0ae1f000;
     border-radius: 20px;
}