ion-content {
  width: calc(100% + 20px);
  --padding-end: 20px !important;
}

ion-content::part(scroll) {
  margin-right: -20px;
}

.border-white {
  border: 3px solid #151921;
  border-radius: 50%;
  width: fit-content;
}
.border-blue {
  border: 3px solid #bf2d0000;
  border-radius: 50%;
  width: fit-content;
}
.img-box {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  overflow: hidden;
}
.p{
background:linear-gradient(0deg,rgba(120, 100, 128, 0),rgba(121, 14, 14, 0)),
url("/assets/yous5.jpg") no-repeat center center  /  cover;
}
.d{
background:linear-gradient(0deg,rgba(120, 100, 128, 0),rgba(121, 14, 14, 0)),
url("/assets/yousv.jpg") no-repeat center center  /  cover;
}