<ion-header>
  <ion-toolbar>
    <ion-title>resultat2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div style="width: 100%;height: 70%;" class="b">
<img src="/assets/attendance-400x316-removebg-preview.png" alt="" style="width: 100%;height: 70%;">
</div>
<div style="width: 100%;height: 30%;background-color: rgb(251, 252, 252);position: relative;top: 350px;border-radius: 40px;">
<div style="position: relative;top: 40px;">
  <h3 style="text-align: center;font-size: 17px;font-weight: 500;font-style: 'inika';">votre resultat ici  Fatoumata Dembele</h3>
<p style="text-align: center;font-size: 13px;font-weight: 100;font-style: 'inika';color: rgb(107, 105, 103);margin-left: 30px;margin-right: 30px;text-align: center;">Lorem ipsum dolo ratione maxime repudiandae harum eius autem, magnam totam, repellendus ea aspernatur.</p>
<div style="display: flex;justify-content: center;">
<ion-button (click)="val()">visualiser maintenant</ion-button></div>
</div></div>
</ion-content>
