<!-- <ion-header>
  <ion-toolbar>
    <ion-title>essay</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-header>
  <ion-toolbar>
    <ion-title>previous</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div style="background: linear-gradient(260.13deg, #6B434B 41.09%, #525170 76.55%, #434E6E 95.96%);width: 100%;height: 340px; z-index: 0;" class="p">
    <ion-slides  [options]="slideOpt " style="  width: 100%!important; z-index: 1;" >
      <ion-slide>
       
               <img src="/assets/soum5.jpg" alt="" class="img" style="width: 100%!important;">
              
            </ion-slide>
            <ion-slide>
       
              <img src="/assets/soutenance7-removebg-preview.png" alt="" class="img" style="width: 100%!important;">
             
           </ion-slide>
           <ion-slide>
       
            <img src="/assets/soutenance7-removebg-preview.png" alt="" class="img" style="width: 100%!important;">
           
         </ion-slide>
            </ion-slides>
  </div>
  <div style="background-color: #ffffff;position: relative;  width: 100%;height: 100%;border-radius:48px !important;top: -55px;z-index: 9;">
   
    <h5 style="text-align: center;position: relative;top: 10px;font-style: 'inika';font-weight: 700;font-size: 15px;">Dashboard</h5>    
    <div style="display: flex;justify-content: center;position: relative;top: -7px;"> <hr style="width: 50px;text-align: center;color: #420fcf;background-color: #420fcf;"> </div>
    <div style="display: flex; justify-content: space-between;position: relative;top: -25px;">
          <ion-card style="border-bottom-left-radius: 30px;border-top-right-radius: 30px; background-color: #fcfcff62;width: 210px !important;height: 100px;border: 1px solid rgb(5, 2, 194);">
            <ion-card-header style="display: flex;justify-content: space-between;">   
    <ion-icon size="large" name="ribbon" color="dark"  ></ion-icon>
      
    </ion-card-header>
            <ion-card-content> <h6 style="color: rgb(8, 8, 8);position: relative;top: -2px;font-size: 12px;">soutenance</h6>
  
            </ion-card-content>
          </ion-card>
  
        
          <ion-card style="border-bottom-left-radius: 30px;border-top-right-radius: 30px; width: 210px;background-color: #fcfcfc; height: 100px;border: 1px solid rgb(0, 0, 0);">
            <ion-card-header>
      <ion-icon size="large" name="book-sharp" color="tertiary"></ion-icon>
    </ion-card-header>
            <ion-card-content>  <button style="background-color: #15192100;" [routerLink]="['/prev2']"> <h4 style="color: #420fcf;position: relative;top: -2px;font-size: 12px;"> soutenance</h4></button>
                      </ion-card-content>
          </ion-card>
        </div>
  
        <div style="display: flex; justify-content: space-between;position: relative;top: -35px;">
          <ion-card style="border-bottom-left-radius: 30px;border-top-right-radius: 30px; width: 210px; background-color: #fbfdfd; height: 100px;border: 1px solid rgb(8, 8, 8);">
            <ion-card-header>
     <ion-icon class="ic" size="large" name="book-sharp" color="#04BBFF"></ion-icon>
    </ion-card-header>
            <ion-card-content> <h4 style="color: #420fcf;position: relative;top: -2px;font-size: 12px;"> soutenance</h4>
                       </ion-card-content>
          </ion-card>
          <ion-card style="border-bottom-left-radius: 30px;border-top-right-radius: 30px; background-color: #fafafcbd;width: 210px; height: 100px;border: 1px solid rgb(52, 4, 182);">
            <ion-card-header style="display: flex;justify-content: space-between;">   
      <ion-icon size="large" name="ribbon" color="dark"  ></ion-icon>
      
    </ion-card-header>
            <ion-card-content> <h4 style="color: rgb(10, 10, 10); position: relative;top: -2px;font-size: 12px;"> soutenance</h4>
             
  
            </ion-card-content>
          </ion-card>
        </div>
  </div>

  <p>{{duration.days}}j {{duration.hours}}h {{duration.minutes}}mn</p>
  </ion-content>
<!-- le vrai -->


<!-- <ion-header>
  <ion-toolbar>
    <ion-title>essay</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [ngStyle]="{'background-image':'url(assets/sout1.png)'}">
<ion-icon name="ios-people">

</ion-icon> -->

<!-- <ion-progress-circle [value]="progressValue"></ion-progress-circle> -->

<!-- </ion-content> -->




