<!-- <ion-header>
  <ion-toolbar>
    <ion-title>erreurr</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <br>
  <br>
  <br>
  <br>
<img src="/assets/95640-boy-looking-error.gif" alt="">
<h2 style="font-family: 'inika';font-weight: 600;font-size: 20px;text-align: center;">Desole votre resultat n'as pas ete proclame  pour le moment passer plus tard </h2>
<div style="display: flex;justify-content: center;">
  <ion-button [routerLink]="['tabs/accueilpouretudiant']"> <h2 style="font-family: 'inika';font-weight: 600;font-size: 25px;text-align: center;">Accueil</h2></ion-button>

</div>
</ion-content>
