

<!-- <ion-content no-bounce>
 


<div class="font">
  <div class="bas">
  <h1 class="essai" >Bienvenue a Memories</h1>
  <div style="width: 220px;display: flex;justify-content: center;position: relative;margin: 20px;">
  <ion-searchbar value="Value" class="rech"></ion-searchbar></div>
  <h4 class="rou">Top Special</h4>
</div>

</div>
<div class="aller">
  <ion-slides [options]="slideOpts " style="height: 30%!important;   width: 100%!important; ">
    <ion-slide >
      <ion-grid>
        <ion-row>
          <ion-col size-xs="4">
      <ion-card class="pi">
        <img alt="Silhouette of mountains" src="assets\soutenance4-removebg-preview.png" />
       
      
        <ion-card-content>
          <h6 class=" ami">Anna Bah</h6>
          <p class="okay">loremm sdfd</p>
        </ion-card-content>
      </ion-card></ion-col>
       <ion-col size-xs="4"> <ion-card class="pi2">
        <img alt="Silhouette of mountains" src="assets\soutenance4-removebg-preview.png" />
       
      
        <ion-card-content>
          <h6 class=" ami">Anna Bah</h6>
          <p class="okay">loremm sdfd</p>
        </ion-card-content>
      </ion-card></ion-col>
      <ion-col size-xs="4"> <ion-card class="pi3">
        <img alt="Silhouette of mountains" src="assets\soutenance4-removebg-preview.png" />
       
      
        <ion-card-content>
          <h6 class=" ami">Anna Bah</h6>
          <p class="okay">loremm sdfd</p>
        </ion-card-content>
      </ion-card></ion-col>
     
    </ion-row> </ion-grid>
    </ion-slide > 
    <ion-slide >
      <ion-grid>
        <ion-row>
          <ion-col size-xs="4" class="gi">
      <ion-card>
        <img alt="Silhouette of mountains" src="assets\soutenance4-removebg-preview.png" />
       
      
        <ion-card-content>
          <h6 class=" ami">Anna Bah</h6>
          <p class="okay">loremm sdfd</p>
        </ion-card-content>
      </ion-card></ion-col>
       <ion-col size-xs="4" class="git"> <ion-card>
        <img alt="Silhouette of mountains" src="assets\soutenance4-removebg-preview.png" />
       
      
        <ion-card-content>
          <h6 class=" ami">Fatoumata</h6>
          <p class="okay">loremm sdfd</p>
        </ion-card-content>
      </ion-card></ion-col>
      <ion-col size-xs="5" class="git"> <ion-card>
        <img alt="Silhouette of mountains" src="assets\soutenance4-removebg-preview.png" />
       
      
        <ion-card-content>
          <h6 class=" ami">Fatoumata</h6>
          <p class="okay">loremm sdfd</p>
        </ion-card-content>
      </ion-card></ion-col>
     
    </ion-row> </ion-grid>
    </ion-slide > 
   
  </ion-slides>
 
  <p class="oho" >Liste des Etudiants de la promotion</p>
  <div class="al">
  <hr class="ss"> </div> 
  <ion-card style="height: 36px; border-radius: 10px !important;" color="black" class="ji" color="dark">
    <ion-card-content>
      ODK2
    </ion-card-content>
  </ion-card>
  <ion-card style="height: 76px; border-radius: 20px !important;">
    <ion-grid>
      <ion-row>
        <ion-col size-xs="3">
          <img alt="Silhouette of mountains" src="assets\soutenance4-removebg-preview.png" />
        </ion-col>
        <ion-col size-xs="6">
          <h6 class="pa">Fatoumata Dembele</h6>
          <p class="kl">
            Lorem ipsum dolor sit ? Maxime quis unde .
          </p>
        </ion-col>
        <ion-col size-xs="3">
          <ion-button  class="ms">
            <ion-icon name="eye"></ion-icon>
          </ion-button>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</div>
 
</ion-content> -->
<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Indicateur de progression
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="1" *ngFor="let step of steps; let i = index">
        <div [ngClass]="{'active': i < progress, 'completed': i < completed}">
          <ion-icon name="radio-button-off"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid> -->
 <div style="width: 100%;height: 60%;background-color: rgba(137, 43, 226, 0);">
  <div style="width: 100%;height: 100%;">
  <ion-slides  [options]="slideOpt " style="  width: 100%!important;  z-index: 2;" >
    <ion-slide style="width: 100% !important;" >
             <img src="/assets/sol1.png" alt="" style="width: 100% !important;">
          </ion-slide>
          <ion-slide style="width: 100% !important;" style="width: 100% !important;">
     
            <img src="/assets/soum5.jpg" alt="" style="width: 100% !important;">
           
         </ion-slide>
         <ion-slide style="width: 100% !important;" >
          <img src="/assets/sol1.png" alt="" style="width: 100% !important;">
       </ion-slide>
         <ion-slide style="width: 100% !important;" >
          <img src="/assets/soum4.jpg" alt="" style="width: 100% !important;">
       </ion-slide>
          </ion-slides> </div></div>
 <div style="width: 100%;height: 35%;background-color: white;border-radius: 15%;position: relative;top: -85px;z-index: 8;">
  <br> 
  <div style="display: flex;justify-content: space-around;">
    <div style="width: 30%;text-align: center;background-color: #54DEFC;border-radius: 20px;position: relative;left: -8px;">
    <div>
    <!-- <img src="/assets/memories.png" alt="" style="width: 180px;"> -->
    <h2 style="font-family: 'Poppins';
     font-style: normal;
     font-weight: 700;
     font-size: 22px;
     line-height: 40px;">Bonjour</h2>
    </div> 
   
  </div>
  <div style="position: relative;top: 50px 0 #000;"> <h2 style="font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;">{{lo}}</h2></div>
    <!-- <div style="text-align: center;background-color: #ffffff;border-top-right-radius: 20px;border-top-left-radius: 20px;position: relative;top: -10px;">
      <img src="/assets/memories2.png" alt="" style="width: 215px;">
    
      </div> -->
   </div>  </div>
   
   <div style="width: 100%;height: 50%; display: flex;justify-content: center;position: relative;top: -280px;z-index: 12;">
    <ion-card style="background-color: rgba(165, 42, 42, 0);height: 70%;width: 47%;border-radius: 15px;" class="card">
      <ion-card-header style="background-color: #151921;height: 70%;width: 100%;" class="mi">
      </ion-card-header>
      <div style="width: 100%;height: 30%;background-color: aqua;">
      
      <div class="card__overlay"  style="background-color: rgb(247, 248, 248);height: 120px;">
        <div class="card__header">
              
          <div >
      <ion-card-content  >
        
        <h3 style="font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;position: relative;top: -10px;color: black;" >  <button (click)="val()"style="background-color: rgba(0, 0, 0, 0);"> soutenance</button>  </h3>
        <br>
        <!-- <p >Lorem ipsum dolor sit amet co</p> -->
    
      </ion-card-content> </div> </div></div></div>
     </ion-card>
    <ion-card style="background-color: rgba(165, 42, 42, 0);height: 70%;width: 47%;border-radius: 15px;" class="card">

      <ion-card-header style="background-color: aqua;height: 70%;width: 100%;" class="mo">
      </ion-card-header>
      <div style="width: 100%;height: 30%;background-color: #151921;">
        <a href="">
      <div class="card__overlay"  style="background-color: #151921;height: 120px;">
        <div class="card__header">
              
          <div >
      <ion-card-content  >
        
        <h3 style="font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 30px;position: relative;top: -10px;color: rgb(241, 236, 236);"  ><button (click)="al()" [routerLink]="['/accueil']" style="background-color: rgba(0, 0, 0, 0);color: white;"> historique</button></h3>
        <br>
        <!-- <p >Lorem ipsum dolor sit amet co</p> -->
    
      </ion-card-content> </div> </div></div></a></div>
     </ion-card>
   </div>


</ion-content>

